body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.3;
  color: #fff;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section{
    background-color: #072227;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 300;
}

/* Download Buttoms */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}


/* Title image */
.title-image {
  width: 30%;
  position: absolute;
  right: 15%;
  top: 30%;
}

/* Features section */
#features {
  position: relative;
}

.feature-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #072227;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #CDAC81;
}

/* Testimonail Section */

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.card-heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.price-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.priccing-col {
  padding: 3% 2%;
}

/*CTA Section */

/* Footer Section */
.footer-text {
  padding-top: 2%;
}

.footer-img {
  margin: 20px 10px;
  color: #072227;
}

@media (max-width: 981px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: relative;
    width: 60%;
    top: 15%;
    left: 0%;
  }
}
